import("methods")
import("FLCore")
import("ggplotFL")
import("mse")
import("data.table")

importFrom("stats",
  "dist")

importFrom("FLasher",
  "fwdControl")

importFrom("ggplot2",
  "aes",
  "annotate",
  "coord_cartesian",
  "geom_label",
  "geom_line",
  "geom_path",
  "geom_point",
  "xlab",
  "ylab"
  )

export(
  "buffer.hcr",
  "depletion.hcr",
  "pid.hcr",
  "plot_buffer.hcr",
  "shortcut.sa",
  "shortcut_devs",
  "writePerformance",
  "readPerformance",
  "summaryPerformance",
  "labelPerformance",
  "setLabelPerformance",
  "periodsPerformance",
  "extractPerformance",
  "getOMPerformance",
  "getMSEPerformance")
