import("methods")
import("FLCore")
import("ggplotFL")
import("mse")
import("data.table")

importFrom("stats",
  "dist",
  "loess",
  "mad",
  "setNames")

importFrom("FLasher",
  "fwdControl")

importFrom("FLife",
  "lhEql")

importFrom("FLBRP",
  "brp",
  "FLBRP",
  "remap")

importFrom("ggplot2",
  "aes",
  "annotate",
  "coord_cartesian",
  "geom_label",
  "geom_line",
  "geom_path",
  "geom_point",
  "geom_rect",
  "scale_fill_manual",
  "xlab",
  "ylab"
  )

export(
  "bank_borrow.is",
  "buffer_bands",
  "buffer.hcr",
  "depletion.hcr",
  "deletePerformance",
  "effort.is",
  "decisions",
  "deplete",
  "diffPerformance",
  "extractPerformance",
  "getMSEPerformance",
  "getOMPerformance",
  "hasPerformance",
  "initiate",
  "inspect",
  "labelPerformance",
  "listPerformance",
  "performanceFLQuant",
  "performanceFLQuants",
  "periodsPerformance",
  "pid.hcr",
  "plot_buffer.hcr",
  "readPerformance",
  "runOM",
  "setLabelPerformance",
  "shortcut.sa",
  "shortcut_devs",
  "simulator",
  "summaryPerformance",
  "trackingFLQuant",
  "trackingFLQuants",
  "validatePerformance",
  "writePerformance"
  )


exportMethods(
  "asFLom"
)
